<style>
  .logo { color: white !important; text-shadow: 1px 1px 1px black; }
  .nav-item > .nav-link { color: white !important; text-shadow: 1px 1px 1px black; }}
</style>

<div class="sp m1" style="position: absolute; top: 0; border-bottom: 1px solid lightgray;">
  <div class="bg-title mission">
      <h1 class="about">
        OUR MISSION
      </h1>
    </br>
      <div class="mission-statement">
        <p>
          Build a legacy and tradition of extracurricular innovation
          </br>
        </p>
        <div class="cover">
        </div>
      </div>
      <div class="mission-statement">
        <p>
          Establish SFU Robot Soccer in the global engineering sphere
        </p>
        <div class="cover">
        </div>
      </div>
      <div class="mission-statement">
        <p>
          Compete with a functional team of robots by 2020
          </br>
        </p>
        <div class="cover">
        </div>
      </div>
      <div class="arr-down">
        <i class="fa fa-chevron-down" onclick="scrollToAnchor('#sfurobotsoccer');" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
<div style="height: 100vh;">
</div>

<div class="container about">
  <h1 id="sfurobotsoccer" class="about gradient color center">
    SFU Robot Soccer
  </h1>

  <p>
    <strong> SFU Robot Soccer </strong> is an organization that consists of mainly engineering and computing science students, but also includes business, communications, and other majors.
  </p>
  <p>
    Our community is built to foster innovation and to compete in the international RoboCup competitions.
    </br>
    We are based at the SFU Burnaby campus, and welcome any dedicated students to join us.
    </br>
    Through hard work, strong leadership, and efficient teamwork we will achieve our victory on the world stage.

  </p>
</div>



<%= render "milestone/milestones" %>



</div>

<script>
  function scrollToAnchor(aid){
      aTag = $(aid);
      $('html,body').animate({scrollTop: aTag.offset().top},'slow');
  }
</script>
