<style>
  .logo { color: white !important; text-shadow: 1px 1px 1px black; }
  .nav-item > .nav-link { color: white !important; text-shadow: 1px 1px 1px black; }}
</style>

<div class="sp m1" style="position: absolute; top: 0; border-bottom: 1px solid lightgray;">
  <div class="bg-title mission">
      <h1 style="font-size: 3.5em;">
        OUR MISSION
      </h1>
    </br>
      <p style="font-size: 1.6em;">
        Master artificial intelligence in the context of soccer </br>
        Welcome anyone who wishes to join and contribute </br>
        Achieve competitive status by mid 2018
        </br>
      </p>
      <div class="arr-down">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
  </div>
</div>
<div style="height: 100vh;">
</div>

<div class="container" style="height: 800px; padding-top: 150px;">
  <h1 class="center" style="font-size: 3em;"> OUR HISTORY </h1>

  </br>

  <p>
    The history or whatever, really.
  </p>
</div>
