<style>
  .logo { color: white !important; text-shadow: 1px 1px 1px black; }
  .nav-item > .nav-link { color: white !important; text-shadow: 1px 1px 1px black; }}
</style>

<div class="sp m1" style="position: absolute; top: 0; border-bottom: 1px solid lightgray;">
  <div class="bg-title mission">
      <h1 class="about">
        OUR MISSION
      </h1>
    </br>
      <div class="mission-statement">
        <p>
          Welcome anyone who wishes to join and contribute
          </br>
        </p>
        <div class="cover">
        </div>
      </div>
      <div class="mission-statement">
        <p>
          Master artificial intelligence in the context of soccer
        </p>
        <div class="cover">
        </div>
      </div>
      <div class="mission-statement">
        <p>
          Achieve competitive status by mid 2018
          </br>
        </p>
        <div class="cover">
        </div>
      </div>
      <div class="arr-down">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
  </div>
</div>
<div style="height: 100vh;">
</div>
<%= render "milestone/milestones" %>
<div class="row">
  <div class="col">

  </div>
  <div class="col">
    
  </div>
</div>





</div>
