<style>
  .logo { color: white !important;} .nav-link { color: white !important;}}
</style>

<div class="sp m1" style="position: absolute; top: 0; border-bottom: 1px solid lightgray;">
  <div class="row" style="position: absolute; width: 100%; height: 100%;">
    <div class="col-md-6">
    </div>
    <div class="col-md-6" style="padding-top: 250px">

      <h1>
        OUR MISSION
      </h1>
    </br>
      <p style="font-size: 1.4em;">
        Skynet FC is an SFU Applied Science club dedicating its time and effort</br>
        to learning and understanding artificial intelligence in the context of soccer. </br>
        We welcome anyone who wishes to join and contribute to our club. </br>
        </br>
        Our hope is to achieve competitive status by mid 2018.
        </br>
      </p>
      <div class="arr-down">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
<div style="height: 100vh;">
</div>

<div class="container" style="height: 800px; padding-top: 150px;">
  <h1 class="center"> OUR HISTORY </h1>

  </br>

  <p>
    The history or whatever, really.
  </p>
</div>
