<div class="header-banner">
  <%= image_tag("background.jpg", alt: 'SKYNETFC Logo', class: 'img-responsive') %>

  <div class="gray-cover">
  </div>


  <div class="banner-text text-shadow">
    The only <span style="text-decoration: underline;"> GOOD </span> </br> <span class="ca-gradient"> CANADIAN </span> Robot Soccer Club.


</div>
