<div class="header-banner">
  <%= image_tag("background.jpg", alt: 'SKYNETFC Logo', class: 'img-responsive') %>

  <div class="gray-cover">
  </div>


  <div class="banner-text text-shadow">
    <% if true %>
      <span style="font-size: .65em;"> Make </span> </br>
      <span class="ca-gradient"> CANADIAN </span> </br> ROBOT SOCCER </br>
      <span style="font-size: .65em;"> Great Again&trade; </span></br>
      <i class="fa fa-android" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
<div class="fill">
</div>

<div class="main gradient" style="border-top: 1px solid lightgray; border-bottom: 1px solid lightgray;">
<div class="container" style="width: 100%; padding: 20px;">
</br>
  <h4 class="center" style="letter-spacing: .7px;">
    Sponsor us on our journey to competitive RoboCup&copy; Soccer, and we will promote your brand.
  </h4>

    </br>

  <h1 class="center">
    <button type="button" class="btn btn-info btn-lg"> LEARN MORE </button>
    <button type="button" class="btn btn-warning btn-lg"> BECOME A SPONSOR </button>
  </h1>

  <p class="center" style="margin-top: 15px;">
    <small> <i>SFU Skynet FC is seeking sponsorship for building robots, and purchasing various equipment. If you are a business, we offer various promotional packages.</i> </small>
  </p>
</div>
</div>
<div class="" style="background-color: white; padding: 50px;">
  <div class="row" style="padding: 0px; width: 700px; margin: 0 auto; border-bottom: 2px solid #77AFF1; border-top: 2px solid #77AFF1; border-radius: 6px;">
    <div class="col-5" style="padding-left: 0px; padding-right: 0px;">
      <div style="height: 150px; width: 150px; border-radius: 50%; margin-left: 60px; margin-bottom: 15px;">
        <%= image_tag("sep.jpg", alt: 'Sepehr Mohaimanian', class: 'img-responsive sep') %>
      </div>
      <h4 style="margin-left: 25px">
        Sepehr Mohaimanian
      </h4>
    </div>
    <div class="col-7" style="padding: 10px 0 10px 0;">
      As a graduate student at <b>Simon Fraser University</b> with extensive experience in <b>Robot Soccer</b>, Sepehr provides guidance and direction to our club.
      </br></br>

      He has achieved x with his team in previous RoboCup competitions, and has built simulation tools to help other teams test out their AI.

      </br></br>
      <h6> With Sepehr and with your support, together we will succeed. </h6>
    </div>

  </div>
</div>
<div class="gradient" style="border-top: 1px solid lightgray; border-bottom: 1px solid lightgray;">
<div class="container" style="height: 400px; width: 100%; padding: 20px;">

</div>
</div>
