// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.img-responsive {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.img-logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 75px;
  width: 75px;
}
