// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto');

$main-color: white;

html, body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #ffffff;
  //background-image: url('/assets/pattern.png');
}

.bg-xp {
  background-image: image-url("bg-xp.jpg") !important;
  background-size: contain !important;
  border-bottom: 1px solid #850000;
}

.btn-join {
  background-color: #850000;
  border-color: #850000;
  color: white;
}

.gradient {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-left {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-sponsor {
  background: #850000; /* Old browsers */
  }

.main {
  margin-top: 0px;
  background-color: white;
}

.navbar-collapse {
  padding-left: 50px;
}

.logo {
  color: #323031;
}

.fill {
  width: 100%;
  height: 75vh;
}

.sep {
 border-radius: 50%;
 box-shadow: 0 0 0 3px #ffc107;
 margin-top: -25px
}

.avatar {
 border-radius: 50%;
 box-shadow: 0 0 0 2px #850000;
 margin-top: -25px
}

.center {
  text-align: center;
}
.img-responsive {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.dropdown-item {
  color: #4a4a4a !important;
}

.nav-link:hover {
  color: #7C7B7B !important;
}

.nav-link {
  margin-left: 5px !important;
  margin-right: 15px !important;
}

@media only screen and (max-width: 1084px) {
  .special-padding {
    padding-left: 0%;
    padding-right: 0%;
    max-width: calc(1600px + 0%);
    margin: 0 auto;
  }

  .header-banner {
    max-height: 50vh;
  }

  .img-responsive {
    max-height: 50vh;
  }
}

@media only screen and (min-width: 1085px) {
  .special-padding {
    padding-left: 5%;
    padding-right: 5%;
    max-width: calc(1600px + 10%);
    margin: 0 auto;
  }

  .header-banner {
    max-height: 75vh;
  }

  .img-responsive {
    max-height: 75vh;
  }
}

.ca-gradient {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red, white, white , red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, white, white, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, white, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red, white , white, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 1px 45px black !important;
}

.banner-text {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: $main-color;
  font-size: 2.75em;
  z-index: 4000;
  font-weight: bold;
}

.navbar-brand {
  color: white !important;
  font-size: 2em !important;
}

.nav-link {
  font-size: 1.0em !important;
  //text-decoration: underline !important;
  color: #222 !important;
}

.img-logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 50px;
  width: 50px;
}

.header-banner {
  width: 100%;
  position: relative;
}

.gray-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  //background-color: rgba(0, 0, 0, 0.1) !important;
}

.text-shadow {
  text-shadow: 0px 1px 5px black;
}

.fb {
  color: rgb(66,103,178) !important;
}

.fb:hover {
  color: rgb(46,83,158) !important;
}

.no-pl {
  padding-left: 0px !important;
  margin-left: 0px !important;
}
