<div class="" style="background-color: #f2f2f2; margin-top: 40px;">
  <div class="container" style="height: 300px; width: 100%; padding: 100px;">
    <div class="row">
      <div class="col">
        <nav class="nav flex-column">
          <h5 style="font-weight: bold;"> About Us </h5>
          <a class="nav-link active no-pl" href="#">Mission Statement</a>
          <a class="nav-link no-pl" href="#">History</a>
        </nav>
      </div>

      <div class="col">
        <nav class="nav flex-column">
          <h5 style="font-weight: bold;"> Teams</h5>
          <a class="nav-link active no-pl" href="#">Firmware</a>
          <a class="nav-link no-pl" href="#">Software</a>
        </nav>
      </div>

      <div class="col">
        <nav class="nav flex-column">
          <h5 style="font-weight: bold;"> Demos </h5>
          <a class="nav-link active no-pl" href="#">2017</a>
          <a class="nav-link no-pl" href="#">2018</a>
        </nav>
      </div>

      <div class="col">
        <nav class="nav flex-column">
          <h5 style="font-weight: bold;"> Sponsors </h5>
          <a class="nav-link active no-pl" href="#">Become a sponsor</a>
          <a class="nav-link no-pl" href="#">Current sponsors</a>
        </nav>
      </div>

      <div class="col">
        <nav class="nav flex-column">
          <h5 style="font-weight: bold;"> Contact Us </h5>
          <a class="nav-link no-pl" href="#">Sign up</a>
          <a class="nav-link no-pl" href="#">Send us an email</a>
        </nav>
      </div>
    </div>

    <div class="row" style="text-align: right; padding-top: 50px">
      <div style="float: right; margin: auto;">
        © SFU Robot Soccer FC 2017
      </div>
    </div>
  </div>
</div>
